%h1 Account

%table{border: "1"}
  %tr
    %td
      %b Transfer From
    %td
      %b Transfer To
    %td
      %b Amount
  - @account.transactions.each do |transaction|
    %tr
      %td
        = binding.pry
        = User.find(transaction.transfer_from).name
      %td
        = User.find(transaction.transfer_to).name
      %td 
        = transaction.amount_in_cents

